body{
	font-family: Noto Sans, Arial;
	color: #3E3E3E;
}
.border-left-card{
	border-left: 1px solid #ccc;
}
.nav-item:hover, .active{
	border-bottom: 2px solid $appweb_color7;
	text-align: center;
}
 .nav-item{text-align: center;}
 .pagination li{ list-style:none; float:left; padding:5px;}
 .pagination li a{
 	background: #E52127;
 	padding:5px 10px;
 	color: white;
 	border-radius:5px;
 }

@media (max-width:768px){
	.border-left-card{
		border-left: 0px;
		border-top:1px solid #ccc;
		margin-top:25px;
		padding-top:25px;
	}
}