body{
	font-family: Noto Sans, Arial;
	color: #3E3E3E;
}
.border-left-card{
	border-left: 1px solid #ccc;
}
.nav-item:hover, .active{
	border-bottom: 2px solid $appweb_color7;
	text-align: center;
}
 .nav-item{text-align: center;}
 .h-250{ height:250px; }
 .pagination li{ 
 	list-style: none; 
 	float:left;
 	margin: 0 5px;
 }
 .pagination li a{ 
 	background-color: #E52127;
 	color: white;
 	padding: 5px 10px;
 	border-radius: 5px;
 }
 .dropdown-menu{ line-height:25px;}

@media (max-width:768px){
	.border-left-card{
		border-left: 0px;
		border-top:1px solid #ccc;
	}
}